<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Formbar Boilerplate</title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<style>
  body {
      font-family: Arial, sans-serif;
      background: #222;
      color: white;
      text-align: center;
      padding-top: 50px;
  }
  
  button {
      padding: 10px 20px;
      margin: 10px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background: #28a745;
      color: white;
  } 
</style>
<body>
<nav>
    <a href="/chat">Chat Room</a> |
    <a href="/cworld">World Map</a>
</nav>
<hr/>